html,body {height: 101%; margin-bottom: 1px;}
body  		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				background-image: url(images/bg.jpg);
				background-repeat: no-repeat;
				background-color: #525252;
				margin-top: 0px;
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
			}
				
				
				
							
td	 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				color: #000000;
			}				
						
						
							
.wtext	 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				color: #ffffff;
			}						
						
							
.gtext	 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				color: #666666;
			}
				
				
				
				
.smallblue 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				font-weight: bold;
				color: #364CAC;
			}
				
				
				

.navtxt	 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				font-weight: bold;
				text-decoration: none;
				color: #ffffff;
			}
						
						
						
						
						
						
a:link 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #aa0432;
			}
a:visited	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #aa0432;
			}
a:active 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #aa0432;
			}
a:hover 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #336799;
			}				
							
						
						
						
						
a.nav:link 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #000000;
			}
a.nav:visited	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #000000;
			}
a.nav:active 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #000000;
			}
a.nav:hover 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #000000;
			}				
	
a.on {color: #29578D; font-weight: bold; text-decoration: none; }
						
						
						
a.wlink:link 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #ffffff;
			}
a.wlink:visited	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #ffffff;
			}
a.wlink:active 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #ffffff;
			}
a.wlink:hover 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: underline;
				color: #ffffff;
			}									
						
						
						
a.toplinks:link 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #ffffff;
			}
a.toplinks:visited	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #ffffff;
			}
a.toplinks:active 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #ffffff;
			}
a.toplinks:hover 	{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				text-decoration: none;
				color: #ffcc00;
			}				
	

	

p 			{	
				margin-top:0px;
				margin-bottom:10px;
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				line-height : 16px;
				color: #000000;
			}
								
								
								
				
.h1 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				font-weight: bold;
				color: #29578D;
			}
				
				
				
.h2 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				font-weight: bold;
				color: #364CAC;
			}
				
				
				
.h3 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				font-weight: bold;
				color: #000000;
			}
				

.white	 	{	background-color: #ffffff}
.black	 	{	background-color: #000000}
.gray	 	{	background-color: #525252}
.lgray	 	{	background-color: #999999}
.lblue	 	{	background-color: #336799}
.dblue	 	{	background-color: #011f5b}
.yellow	 	{	background-color: #ffcc00}


.hline	 	{	
				background-image: url(images/hline.gif);
				background-repeat: repeat-x;
			}
				

.vline	 	{	
				background-image: url(images/vline.gif);
				background-repeat: repeat-y;
			}
				

.hdash	 	{	
				background-image: url(images/hdash.gif);
				background-repeat: repeat-x;
			}
				

.vdash	 	{	
				background-image: url(images/vdash.gif);
				background-repeat: repeat-y;
			}				
	

.columnbg	{	
				background-image: url(images/column_bg.jpg);
				background-repeat: no-repeat;
				background-color: #aeaeae;
			}				
	
				

	 				 			
ul			{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				color: #000000;  
				list-style-position: outside;  
				margin: 12px;  
				padding: 5px;  
				margin-bottom: 0pt;
				margin-top: 0pt; 

			}				


	 				 			
li			{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 9pt;
				color: #000000;
				padding-bottom : 5pt;
				margin-top: 0pt;  
				margin-left: 0pt; 
			}
				
				
				
.small 		{	
				font-family: arial, tahoma, verdana, helvetica, sans-serif;
				font-size: 0pt;
				color: #000000;
			}
				
				
				
				
hr 			{
				text-align: left;
				width: 100%;
				height: 1px;
				color: #CCCCCC;
				background-color: #CCCCCC;
				border: none;
				margin-bottom : 5pt;
				margin-left : 0pt;
				margin-right : 0pt;
				margin-top : 5pt;
				padding-bottom : 0pt;
				padding-left : 0pt;
				padding-right : 0pt;
				padding-top : 0pt;
			}
				


.cap	 	{
				font-family: Verdana, Arial, Helvetica, sans-serif;
				text-transform: uppercase;
			}
			
			
.imgstroke	{
				border:1px solid #666666;
			}
@media print { html,body  {height: 100%;}}